.command-menu-inline {
 width: 100%;
 height: 100%;
}

.command-menu {
 --command-shadow: none;
 height: 100%;
}

[cmdk-root] {
 width: 100%;
 background: transparent;
 border-radius: 0;
 padding: 0;
 font-family: "Inter", sans-serif;
 box-shadow: none;
 border: none;
 position: relative;
 outline: none;
}

.command-shine {
 background: linear-gradient(
  90deg,
  transparent 0%,
  var(--muted) 20%,
  var(--accent) 67.19%,
  transparent 100%
 );
 height: 1px;
 position: absolute;
 top: -1px;
 width: 100%;
 z-index: -1;
 opacity: 0;
 animation: showTopShine 0.1s ease-out forwards 0.1s;
}

[cmdk-input] {
 flex: 1;
 font-size: 1.125rem;
 outline: none;
 width: 100%;
 background: transparent;
 color: var(--foreground);
 border: none;
 font-family: "Inter", sans-serif;
 margin: 0;
 padding: 0;
}

[cmdk-input]::placeholder {
 color: var(--muted-foreground);
}

[cmdk-list] {
 /*padding: 16px 0 8px 0;*/
 /*max-height: 320px;*/
 overflow: auto;
 overscroll-behavior: contain;
 scroll-padding-block-end: 8px;
 transition: height 100ms ease;
 /*max-height: 500px;*/
 min-height: 300px;
 height: 100%;
 /*height: var(--cmdk-list-height);*/
}

[cmdk-item] {
 content-visibility: auto;
 cursor: pointer;
 min-height: 48px;
 border-radius: var(--radius-md);
 font-size: 14px;
 display: flex;
 align-items: center;
 gap: 12px;
 padding: 8px 8px;
 color: var(--foreground);
 user-select: none;
 will-change: background, color;
 transition: all 150ms ease;
 margin: 2px 0;
}

[cmdk-item][data-selected="true"] {
 background: var(--accent);
 color: var(--accent-foreground);
}

[cmdk-item][data-disabled="true"] {
 color: var(--muted-foreground);
 cursor: not-allowed;
}

[cmdk-item]:active {
 transition-property: background;
 background: var(--accent);
}

[cmdk-item] svg {
 width: 16px;
 height: 16px;
 flex-shrink: 0;
}

.command-meta {
 margin-left: auto;
 color: var(--muted-foreground);
 font-size: 12px;
 font-weight: 500;
 flex-shrink: 0;
}

[cmdk-group-heading] {
 user-select: none;
 font-size: 12px;
 color: var(--muted-foreground);
 padding: 8px 8px 4px 8px;
 display: flex;
 align-items: center;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 0.5px;
}

[cmdk-group] + [cmdk-group] {
 margin-top: 8px;
}

[cmdk-separator] {
 height: 1px;
 width: 100%;
 background: var(--border);
 margin: 4px 0;
}

[cmdk-empty] {
 font-size: 14px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 64px;
 white-space: pre-wrap;
 color: var(--muted-foreground);
}

@keyframes showTopShine {
 to {
  opacity: 1;
 }
}

/* Responsive adjustments */
@media (max-width: 640px) {
 /*[cmdk-input] {
  font-size: 16px;
 }*/

 [cmdk-list] {
  /*max-height: 280px;*/
 }
}
.command-menu-inline {
}
